body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
    margin-top: 250px;
}
p {
    color: #313131;
    line-height: 1.6;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 1.2rem;
}

.destaque{
    background-color: #fffb00;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    border-radius: 10px;
}

.img{
    height: 400px;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao redor da imagem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação suave */
}

.img:hover{
    transform: scale(1.05); /* Aumenta levemente a imagem ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

nav {
    background-color: rgb(193, 226, 255);
    padding: 10px;
    border-radius: 8px; /* Arredonda as bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #007BFF; /* Cor dos links */
    font-weight: bold; /* Texto em negrito */
    transition: color 0.3s ease; /* Animação suave para mudança de cor */
    font-size: 1.3rem;
}